// Font Variables

$headline: 'Lobster';
$headline-fb: cursive;
$body: 'Raleway';
$body-fb: sans-serif;

$headline-font-size: 75px;

@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');
